<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.iu.s3.bankbook.BankBookDAO">

	<update id="setUpdate" parameterType="BankBookDTO" >
		update bankbook set bookname=#{bookname} , bookrate=#{bookrate}, booksale=#{booksale} where booknumber=#{booknumber}
	</update>
	
	<insert id="setWrite" parameterType="BankBookDTO">
		insert into bankbook values(bank_seq.nextval, #{bookname},#{bookrate},#{booksale})
	</insert>
	
	<select id="getSelect" parameterType="BankBookDTO" resultType="BankBookDTO">
		select * from bankbook where booknumber=#{booknumber}
	</select>
	
	<select id="getList" resultType="BankBookDTO" parameterType="Pager"> 
		select * from
        (select rownum R, N.* from 
            (select * from bankbook where 
             <choose>
             	<when test="kind=='Bookname'">
             		bookname
             	</when>
             	<when test="kind=='Booknumber'">
             		booknumber
             	</when>
             	<otherwise>
             		booksale
             	</otherwise>
             </choose>
            like '%'||#{search}||'%' and booknumber>0 order by booknumber desc) N)
  		  where R between #{startRow} and #{lastRow}
	</select>
	
	<delete id="setDelete" parameterType="BankBookDTO">
		delete bankbook where booknumber = #{booknumber}
	</delete>
	
	<select id="getTotalCount" resultType="Long" parameterType="Pager">
		select count(booknumber) from bankbook
		where 
             <choose>
             	<when test="kind=='Bookname'">
             		bookname
             	</when>
             	<when test="kind=='Booknumber'">
             		booknumber
             	</when>
             	<otherwise>
             		booksale
             	</otherwise>
             </choose>
            like '%'||#{search}||'%' and booknumber>0
		
	</select>
</mapper>

